.apply-page-wrapper {
    
    section.main-section {
        position: relative;
        @include paddingY(250px, 600px);
        
        @include max-medium-screen{
            padding-bottom: 250px;
        }
        
        img.bg {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            object-fit: cover;
            object-position: 65% top;
            @include min-large-screen{
                clip-path: url(#hero-clip-path);
            }
        }
        
        .mos-title-1 {
            color: #ffffff;
            font-family: "Qanelas Bold";
            font-size: 60px;
            font-weight: 400;
            line-height: 73px;
            letter-spacing: -0.6px;
            
            @include max-x-small-screen{
                font-size: 40px;
                line-height: 45px;
            }
        }
        
        .mos-paragraph {
            margin-top: 45px;
            max-width: 580px;
            color: #ffffff;
            font-family: Larsseit;
            font-size: 27px;
            font-weight: 400;
            line-height: 37px;
        }
        
        button {
            color: #ffffff;
            font-family: Larsseit;
            font-size: 22px;
            font-weight: 400;
            border-bottom: 10px solid #fa9f40;
            border-radius: 4.5rem;
            
            @include paddingY(25px);
            
            @include max-medium-screen{
                margin-top: 30px;
            }
            
            &:after {
                content: none;
            }
        }
    }
    
    section.why-work-with-us-section {
        position: relative;
        margin-top: -250px;
        @include max-medium-screen{
            margin-top: 0;
            padding-bottom: 0;
        }
        //@include paddingY(250px, 600px);
        .title {
            color: #14374c;
            font-family: "Qanelas Bold";
            font-size: 52px;
            font-weight: 400;
            line-height: 59px;
            letter-spacing: -0.52px;
            max-width: 400px;
            margin: 0 auto 40px;
        }
        
        .subtitle {
            color: #404041;
            font-family: Larsseit;
            font-size: 25px;
            font-weight: 300;
            line-height: 40px;
            max-width: 800px;
            margin: 0 auto 100px;
        }
        
        .reason {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 50px;
            
            img {
                max-width: 180px;
                height: 100px;
                margin-bottom: 35px;
            }
            
            .description {
                color: #364b57;
                font-family: "Qanelas Medium";
                font-size: 29px;
                font-weight: 400;
                line-height: 36px;
                letter-spacing: -0.29px;
                text-align: center;
            }
        }
    }
    
    section.focus-section {
        position: relative;
        @include paddingY(0);
        
        .aspect-ratio{
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            height: 1175px;
            //padding-top: 61.2%;
            @include large-screen{
                height: 0;
                padding-top: 100%;
            }
            svg{
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                position: absolute;
            }
        }
        .container {
            overflow: hidden;
            position: relative;
            @include paddingY(135px, 35vw);
        }
        
        .row {
            max-width: 690px;
            @include marginX(auto);
        }
        
        .filter {
            background: linear-gradient(white, transparent);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 2;
        }
        
        img.bg {
            position: absolute;
            bottom: -4vw;
            left: 50%;
            width: 65vw;
            z-index: 1;
            object-fit: contain;
            height: auto;
            transform: translateX(-50%);
        }
        
        .title {
            color: #14374c;
            font-family: "Qanelas Bold";
            font-size: 52px;
            font-weight: 400;
            line-height: 59px;
            letter-spacing: -0.52px;
            //max-width: 400px;
            margin: 0 auto 40px;
            text-align: center;
            z-index: 3;
            position: relative;
        }
        
        .subtitle {
            color: #404041;
            font-family: Larsseit;
            font-size: 25px;
            font-weight: 300;
            line-height: 40px;
            //max-width: 800px;
            text-align: center;
            margin: 0 auto 100px;
            z-index: 3;
            position: relative;
        }
        
        .reason {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            z-index: 3;
            position: relative;
            margin-bottom: 26px;
            
            img {
                @include square(60px);
                margin-right: 22px;
            }
            
            .description {
                color: #364b57;
                font-family: "Qanelas Bold";
                font-size: 30px;
                font-weight: 400;
                line-height: 45.25px;
                letter-spacing: -0.3px;
            }
        }
        
        button {
            margin: 60px auto 0;
            font-family: Larsseit;
            font-size: 23px;
            font-weight: 400;
            border-radius: 4.5rem;
            position: relative;
            z-index: 3;
            display: block;
            @include min-large-screen{
                @include paddingX(105px);
            }
        }
    }
    
    section.requirements {
        @include max-medium-screen{
            background-color: #f6fafe;
        }
        .title {
            color: #364b57;
            font-family: "Qanelas Bold";
            font-size: 52px;
            font-weight: 400;
            line-height: 56px;
            letter-spacing: -0.52px;
            text-align: center;
            margin-bottom: 70px;
        }
        
        img.man {
            padding-bottom: 50px;
            object-fit: cover;
        }
        
        .requirements-container {
            max-width: 485px;
        }
        
        .requirement {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            z-index: 3;
            position: relative;
            margin-bottom: 26px;
            @include min-large-screen {
                padding-left: 32px;
            }
            
            img {
                @include square(60px);
                margin-right: 22px;
            }
            
            .description {
                color: #364b57;
                font-family: "Qanelas Medium";
                font-size: 29px;
                font-weight: 500;
                letter-spacing: -0.29px;
                
                span {
                    font-family: "Qanelas Regular";
                    font-size: 26px;
                    font-weight: 400;
                    letter-spacing: -0.26px;
                }
            }
        }
    }
    
    section.faqs {
        .title {
            color: #364b57;
            font-family: "Qanelas Bold";
            font-size: 52px;
            font-weight: 400;
            line-height: 56px;
            letter-spacing: -0.52px;
            margin-bottom: 80px;
            text-align: center;
        }
        
        .question-block {
            background: #f6fafe;
            margin-bottom: 20px;
            border-radius: 45px;
            
            .question {
                cursor: pointer;
                padding: 28px 50px;
                color: #364b57;
                font-family: "Qanelas Medium";
                font-size: 25px;
                font-weight: 400;
                line-height: 36px;
                letter-spacing: -0.25px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                
                img {
                    @include square(18px);
                    transition: all 400ms;
                }
                
                &.active {
                    
                    img {
                        transform: rotate(45deg);
                    }
                }
            }
            
            .answer {
                display: none;
                color: #404041;
                font-family: Larsseit;
                font-size: 21px;
                font-weight: 300;
                line-height: 31px;
                overflow: hidden;
                
                .answer-wrapper {
                    padding: 0 50px 54px;
                }
            }
            
            &.active {
                
                .answer {
                    display: block;
                }
            }
        }
    }
}
