//.fix-container {
//    max-width: 80rem; /* 1200px */
//    margin: 0 auto;
//}

.home-page-wrapper {
    section.get-an-estimate {
        padding-top: 50px;
        
        .sub-btn {
            min-width: 351px;
            @include max-x-small-screen {
                min-width: 90%;
                margin: 0 auto;
            }
        }
        
        @include max-medium-screen {
            background: #fbfdfe;
            .mos-paragraph {
                text-align: center;
            }
        }
        
        @include max-small-screen {
            .left-col {
                img {
                    max-width: 80%;
                    margin: 0 auto;
                }
            }
        }
        @include max-x-small-screen {
            .mos-paragraph {
                max-width: 80%;
                margin: 0 auto;
            }
        }
        
    }
    
    section.main-section {
        @include paddingY(130+100px, 200px);
        
        @include max-medium-screen {
            padding-top: 170px;
            padding-bottom: 50px;
        }
        //min-height: 72rem;
        background-image: url("../html/assets/images/home/hero_img.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
        
        .main-section-content {
            //position: absolute;
            //width: 100%;
            //max-width: 80rem;
            //top: 19.6%;
            //left: 50%;
            //transform: translateX(-50%);
            
            .mos-title-3 {
                margin-top: 2rem;
                margin-bottom: 2.6rem;
                
                @include max-medium-screen {
                    margin-top: 44px;
                    margin-bottom: 65px;
                }
                @include max-small-screen {
                    margin-top: 35px;
                    margin-bottom: 45px;
                }
                @include max-x-small-screen {
                    margin-top: 25px;
                    margin-bottom: 25px;
                }
                
            }
            
            @include max-medium-screen {
                .fb-like {
                    width: 100% !important;
                    text-align: center;
                    color: #fff;
                    
                    * {
                        color: #fff;
                    }
                }
            }
            
            .main-section-form {
                max-width: 49.0667rem;
                margin: 0 auto;
                
                .input-group-wrapper, .gform_body ul {
                    padding: 2.2667rem 1.5333rem 1.3333rem;
                    background: #fff;
                    display: flex;
                    flex-flow: wrap;
                    border-top-left-radius: 0.6667rem; /* 10px */
                    border-top-right-radius: 0.6667rem; /* 10px */
                    
                    .input-wrapper {
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        margin: 0.8667rem 0.4667rem;
                        
                        label {
                            color: #929497;
                            font-family: Larsseit;
                            font-size: 1rem;
                            font-weight: 300;
                            margin-bottom: 0.4rem;
                        }
                        
                        select {
                            cursor: pointer;
                        }
                        
                        input, select {
                            background: #f9f9fa;
                            padding: 0 24px;
                            border: none;
                            width: 14.4rem;
                            color: #6d6e70;
                            font-family: Larsseit;
                            font-size: 1.06rem;
                            font-weight: 400;
                            //line-height: 2.3333rem;
                            min-height: 3.4rem;
                            text-transform: capitalize;
                        }
                        
                        .select2 {
                            background: #f9f9fa;
                            padding: 0 24px;
                            border: none;
                            width: 14.4rem;
                            color: #6d6e70;
                            font-family: Larsseit;
                            font-size: 1.06rem;
                            font-weight: 400;
                            //line-height: 2.3333rem;
                            height: 3.4rem;
                            text-transform: capitalize;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            
                            span.selection {
                                height: 100%;
                            }
                            
                            .select2-container--default .select2-selection--single .select2-selection__rendered {
                                color: #6d6e70;
                            }
                        }
                    }
                }
                
                .gform_footer {
                    position: relative;
                    
                    &:after {
                        border-bottom-right-radius: 1.3333rem;
                        border-bottom-left-radius: 1.3333rem;
                        content: '';
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        width: 100%;
                        background: #0393a3;
                        height: 0.3333rem;
                    }
                    
                    input {
                        border: none;
                        background: #04c4d9;
                        width: 100%;
                        color: #ffffff;
                        font-family: Larsseit;
                        font-size: 1.2rem;
                        font-weight: 700;
                        text-transform: uppercase;
                        padding-top: 1.26rem;
                        padding-bottom: 1.26rem;
                        cursor: pointer;
                        border-bottom-right-radius: 0.3333rem;
                        border-bottom-left-radius: 0.3333rem;
                    }
                }
                
                button.view-price-btn {
                    border-bottom-right-radius: 0.3333rem;
                    border-bottom-left-radius: 0.3333rem;
                    
                    &:after {
                        border-bottom-right-radius: 1.3333rem;
                        border-bottom-left-radius: 1.3333rem;
                    }
                }
                
            }
            
            button.make-booking-btn {
                border-radius: 0.3333rem;
                
                &:after {
                    border-bottom-right-radius: 1.3333rem;
                    border-bottom-left-radius: 1.3333rem;
                }
                
                @include max-medium-screen {
                    max-width: 550px;
                    margin: 0 auto;
                    display: block;
                    height: 89px;
                    color: #ffffff;
                    font-family: Larsseit;
                    font-size: 30px;
                    font-weight: 400;
                    cursor: pointer;
                }
                @include max-small-screen {
                    font-size: 25px;
                    height: 70px;
                }
                @include max-x-small-screen {
                    font-size: 14px;
                    height: 50px;
                    line-height: 0;
                    max-width: 80%;
                    font-weight: bold;
                }
            }
            
            .facebook-reviews-widgets {
                margin: 3rem auto 0;
                max-width: 39.3333rem;
                
                @include max-medium-screen {
                    margin-top: 262px;
                }
                @include max-small-screen {
                    margin-top: 150px;
                }
                @include max-x-small-screen {
                    margin-top: 70px;
                }
                
                .fb-review-child {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    @include max-small-screen {
                        flex-direction: column;
                        
                        &:last-of-type {
                            flex-direction: row;
                        }
                    }
                    
                    img {
                        width: auto;
                    }
                    
                    p {
                        color: #ffffff;
                        font-family: Larsseit;
                        font-size: 1.6rem;
                        font-weight: 400;
                        @include max-small-screen {
                            text-align: center;
                        }
                    }
                }
                
                .top-one {
                    img {
                        margin-right: 1.2667rem;
                        @include max-small-screen {
                            margin-bottom: 1.2667rem;
                        }
                    }
                    
                }
                
                .middle-one {
                    margin-top: 2.06rem;
                    padding-top: 2.06rem;
                    border-top: 0.1333rem solid rgba(255, 255, 255, .3);
                    margin-bottom: 0.2rem;
                    
                    img {
                        margin-right: 0.8rem;
                    }
                }
                
                .bottom-one {
                    display: none;
                    
                    img {
                        margin-right: 0.8rem;
                    }
                }
            }
        }
    }
    
    section.three-easy-steps-section {
        padding-bottom: 0;
    
        .service-section-form {
            box-shadow: 0 3px 47px 4px rgba(0, 0, 0, 0.04);
            width: 100%;
            background: #ffffff;
            @include max-medium-screen {
                box-shadow: none;
                background: transparent;
                margin-bottom: 184px;
            }
            @include max-small-screen {
                max-width: 85%;
                margin: 0 auto;
                margin-bottom: 150px;
            }
        
        
            .form-title {
                color: #404041;
                font-family: "Qanelas Medium";
                font-size: 29px;
                font-weight: 400;
                @include max-medium-screen {
                    color: #ffffff;
                    font-family: "Qanelas Bold";
                    font-size: 48px;
                    font-weight: 400;
                    line-height: 69px;
                }
                @include max-small-screen {
                    font-size: 32px;
                    font-weight: 400;
                    line-height: initial;
                }
            }
        
            label {
                display: none;
            }
        
            .gform_footer {
                position: relative;
            
                &:after {
                    background: $primary-color;
                    content: '';
                    position: absolute;
                    bottom: 0;
                    height: 0.3333rem;
                    left: 5%;
                    width: 89%;
                
                    @include max-small-screen {
                        left: 10%;
                        width: 80%;
                    }
                }
            
                input[type="submit"] {
                    background: $primary-color;
                    color: #ffffff;
                    font-family: Larsseit;
                    font-size: 23px;
                    font-weight: 500;
                    text-transform: uppercase;
                    height: 90px;
                    border-radius: 60px;
                    padding-top: 1.26rem;
                    padding-bottom: 1.26rem;
                    position: relative;
                    border: none;
                    cursor: pointer;
                    width: 100%;
                }
            }
        
            .input-group-wrapper {
                padding-right: 42px;
                padding-left: 42px;
                margin-top: 38px;
                @include max-medium-screen {
                    padding: 0;
                }
            
                .input-wrapper {
                    margin-bottom: 19px;
                    position: relative;
                
                    &:last-of-type {
                        margin-bottom: 39px;
                        @include max-medium-screen {
                            margin-bottom: 19px;
                        }
                    }
                
                    input, select, .select2 {
                        @include max-medium-screen {
                            border-radius: 60px;
                            height: 81px;
                            background: #ffffff;
                        }
                        width: 100%;
                        height: 61px;
                        background: #f9f9fa;
                        color: #58595b;
                        font-family: Larsseit;
                        font-size: 20px;
                        font-weight: 300;
                        line-height: 35px;
                        padding-left: 32px;
                        padding-right: 32px;
                        border:1px solid #edf0f1;
                    
                        &::placeholder {
                            color: #808184;
                            font-family: Larsseit;
                            font-size: 20px;
                            font-weight: 300;
                        }
                    }
                }
            }
        
            .view-price-btn {
                height: 79px;
                background: $primary-color;
                color: #ffffff;
                font-family: Larsseit;
                font-size: 23px;
                font-weight: 500;
                text-transform: uppercase;
                @include max-medium-screen {
                    height: 90px;
                    border-radius: 60px;
                }
            
                &:after {
                    background: #0393a3;
                    @include max-medium-screen {
                        left: 5%;
                        width: 89%;
                    }
                    @include max-small-screen {
                        left: 10%;
                        width: 80%;
                    }
                }
            }
        }
        
        .section-container {
            background: #fff;
            text-align: center;
            
            .mos-title-2 {
                @include marginY(10px, 5.8rem);
                @include max-medium-screen {
                    margin-bottom: 92px;
                }
                @include max-x-small-screen {
                    margin-bottom: 50px;
                }
            }
            
            .three-steps-container {
                display: flex;
                justify-content: space-around;
                align-items: baseline;
                //max-width: 65.6667rem; /* 985px */
                //margin: 0 auto;
                
                .step-content {
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 100px;
                    
                    @include max-x-small-screen {
                        margin-bottom: 65px;
                    }
                    
                    img {
                        height: auto;
                        width: auto;
                        max-height: 100%;
                        max-width: 100%;
                    }
                    
                    .the-p {
                        margin-top: 62px; /* 66px */
                        color: #364b57;
                        font-family: Larsseit;
                        font-size: 1.8rem; /* 27px */
                        font-weight: 400;
                        /* Text style for "View and b" */
                        letter-spacing: -0.018rem; /* -0.27px */
                        @include max-medium-screen {
                            margin-top: 50px;
                            font-size: 35px;
                        }
                        @include max-x-small-screen {
                            font-size: 5.5vw;
                            margin-top: 30px;
                        }
                    }
                }
            }
        }
    }
    
    section.meet-street-movers {
        position: relative;
        background: #F9FCFE;
        background: -webkit-linear-gradient(top, #F9FCFE, #FFFFFF);
        background: -moz-linear-gradient(top, #F9FCFE, #FFFFFF);
        background: linear-gradient(to bottom, #F9FCFE, #FFFFFF);
        padding-top: 180px;
        
        @include max-medium-screen {
            background: linear-gradient(to bottom, #fbfdfe, #FFFFFF);
            padding-top: 130px;
        }
        @include max-x-small-screen {
            padding-top: 70px;
            padding-bottom: 50px;
        }
        
        
        .meet-street-movers-svg {
            position: absolute;
            top: -60%;
            z-index: -1;
        }
        
        .right-col {
            img {
                @include min-x-large-screen {
                    width: 35vw;
                }
                @include max-small-screen {
                    max-width: 80%;
                    margin: 0 auto;
                }
            }
            
            @include max-medium-screen {
                order: 0;
            }
        }
        
        .left-col {
            background: #fff;
            box-shadow: 0px 3px 11px -8px rgba(0, 0, 0, .3);
            @include max-medium-screen {
                box-shadow: none;
                padding-top: 70px;
            }
            /* 70px */
            @include min-medium-screen {
                padding: 4.333rem 4.333rem 0;
            }
            
            @include max-medium-screen {
                order: 1;
                background: transparent;
                .mos-paragraph {
                    text-align: center;
                }
            }
            @include max-x-small-screen {
                .mos-paragraph {
                    max-width: 80%;
                    margin: 0 auto;
                    text-align: center;
                }
            }
        }
    }
    
    section.relax-section {
        padding-bottom: 0;
        padding-top: 140px;
        @include max-medium-screen {
            padding-top: 20px;
        }
        
        .mos-paragraph {
            @include max-x-small-screen {
                max-width: 80%;
                margin: 0 auto;
            }
            @include max-medium-screen {
                br {
                    display: none;
                }
            }
        }
        
        .col-with-number {
            text-align: center;
            
            h2, p {
                max-width: 600px;
                @include marginX(auto);
            }
        }
        
        .bottom-img {
            margin-top: -4rem;
            @include min-large-screen {
                margin-top: -25.3333rem; /* -380px */
            }
        }
    }
    
    
    section.finish-in-one-step {
        padding-top: 0;
        padding-bottom: 120px;
        margin-top: -22.5%;
        
        .col-with-number .mos-paragraph P:last-of-type {
            margin-bottom: 0;
        }
        
        .left-col {
            @include min-large-screen {
                img {
                    padding-right: 30px;
                }
            }
            @include max-medium-screen {
                margin-bottom: 90px;
            }
            @include max-x-small-screen {
                max-width: 80%;
                margin: 0 auto;
            }
        }
        
        .right-col {
            @include max-x-small-screen {
                max-width: 80%;
                margin: 0 auto;
            }
        }
        
        .finish-in-one-step-btn {
            margin-top: 196px;
            @include max-medium-screen {
                margin-top: 120px;
            }
            @include max-x-small-screen {
                margin-top: 70px;
            }
        }
    }
    
    .compare-table-section {
        padding-top: 150px;
        padding-bottom: 120px;
        @include max-medium-screen {
            display: none;
        }
        
        .mos-title-2 {
            padding-bottom: 80px;
            text-align: center;
        }
        
        .compare-table {
            background: #f6fafe;
            max-width: 1200px;
            margin: 0 auto;
            border-spacing: 0;
            border: none;
            width: 100%;
            
            
            tr:last-of-type td:nth-of-type(2) {
                position: relative;
                
                &:after {
                    position: absolute;
                    height: 48px;
                    width: 100%;
                    background: $primary-color;
                    content: '';
                    left: 0;
                    top: 99%;
                    border-bottom-right-radius: 10px;
                    border-bottom-left-radius: 10px;
                }
            }
            
            tr {
                border-top: 1px solid #dce4e7;
                
                &:first-of-type {
                    background: #fff;
                }
                
                &:nth-of-type(2), &:first-of-type {
                    border-top: none;
                }
                
                height: 122px;
            }
            
            th:nth-of-type(2), td:nth-of-type(2) {
                background: $primary-color;
            }
            
            th:nth-of-type(2), th:nth-of-type(3), th:nth-of-type(4) {
                padding-right: 35px;
                padding-left: 35px;
            }
            
            td {
                text-align: center;
            }
            
            td:first-of-type {
                text-align: left;
                color: #364b57;
                font-family: Larsseit;
                font-size: 22px;
                font-weight: 700;
                line-height: 30px;
                padding-left: 50px;
                padding-right: 50px;
            }
            
            td:nth-of-type(2) {
                font-size: 50px;
                color: #fff;
                border-top: 1px solid $primary-color;
                border-bottom: 1px solid $primary-color;
            }
            
            td:nth-of-type(3), td:nth-of-type(4) {
                font-size: 50px;
                color: #d0e7f8;
            }
        }
    }
    
    .testimonial-section {
        background: url("../html/assets/images/home/img_bg2.png");
        position: relative;
        padding-top: 180px;
        padding-bottom: 721px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    
        @include max-medium-screen {
            padding-bottom: 500px;
        }
        @include max-small-screen {
            padding-top: 100px;
        }
        @include max-x-small-screen {
            padding-top: 50px;
            padding-bottom: 350px;
        }
        
        .mos-title-2 {
            padding-bottom: 80px;
            text-align: center;
        }
        
        .slick-slide {
            margin-right: 10px;
            margin-left: 10px;
            
            @include max-small-screen {
                transform: scale(1);
                transition: transform .5s ease!important;
            }
        }
        
        .slick-track {
            margin-top: 25px;
            margin-right: 10px;
            margin-left: 10px;
        }
        
        .slick-list {
            @include max-small-screen {
                overflow: visible;
            }
        }
        
        @include max-small-screen {
            .slick-current {
                transform: scale(1.2);
            }
        }
        
        .testimonial-slider {
            max-width: 1200px;
            margin: 0 auto;
            width: 100%;
            
            .desc {
                box-shadow: 0 3px 47px 4px rgba(0, 0, 0, 0.04);
                color: #58595b;
                font-family: Larsseit;
                font-size: 21px;
                font-weight: 400;
                line-height: 37px;
                padding-right: 27px;
                padding-left: 27px;
                padding-bottom: 100px;
                padding-top: 55px;
                position: relative;
                text-align: center;
                @include max-small-screen {
                    box-shadow: 0 9px 43px 8px rgba(0, 0, 0, 0.03);
                    background: #fff;
                }
            }
            
            .the-img {
                position: absolute;
                max-width: 105px;
                max-height: 105px;
                bottom: -50px;
                left: 50%;
                transform: translateX(-50%);
            }
            
            .stars {
                margin-top: 90px;
                
                img {
                    max-width: 150px;
                    margin: 0 auto;
                }
            }
            
            .name {
                color: #404041;
                font-family: Larsseit;
                font-size: 21px;
                font-weight: 400;
                line-height: 52px;
                text-align: center;
                
                @include max-x-small-screen{
                    line-height: 30px;
                }
                
                strong {
                    font-weight: 700;
                }
            }
        }
        
        .more-customer-reviews {
            margin-top: 100px;
            
            @include max-small-screen{
                width: 80%;
                margin: 0 auto;
                margin-top: 170px;
                font-size: 1.1667rem;
            }
        }
    }
    
    .clients-section {
        padding-top: 45px;
        padding-bottom: 45px;
        background: #fff;
        
        .slick-track {
            display: flex;
            align-items: center;
            
            .slick-slide {
                cursor: pointer;
                margin-right: 40px;
                margin-left: 40px;
                
                img {
                    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
                    filter: grayscale(100%);
                    transition: all .4s ease-in-out;
                    
                    &:hover {
                        filter: none;
                    }
                }
                
                &:last-of-type {
                    margin-right: 0;
                }
            }
        }
    }
    
    section.ready-to-book-your-move {
        background: #04c4d9;
        padding-bottom: 0;
        
        .mos-title-2 {
            margin-bottom: 25px;
            color: #fff;
        }
        
        .mos-paragraph {
            color: #fff;
        }
        
        .footer-form {
            max-width: 820px;
            margin-top: 73px;
            
            @include max-medium-screen{
                max-width: 90%;
                margin: 0 auto;
                margin-top: 73px;
            }
            
            label {
                display: none;
            }
            
            .gform_body {
                ul {
                    display: flex;
                    flex-wrap: wrap;
                    margin-right: -10px;
                    margin-left: -10px;
                    list-style: none;
                    
                    .select2 {
                        width: 100% !important;
                    }
                    
                }
            }
            
            .gform_footer {
                position: relative;
                max-width: 50%;
                margin: 0 auto;
                
                @include max-medium-screen{
                    max-width: 100%;
                }
                &:after {
                    left: 7%;
                    width: 86%;
                    background: #fa9f40;
                    content: '';
                    position: absolute;
                    bottom: 0;
                    height: 0.3333rem;
                }
                
                input[type="submit"] {
                    color: #ffffff;
                    font-family: Larsseit;
                    font-size: 26px;
                    font-weight: 400;
                    line-height: 74px;
                    text-transform: uppercase;
                    background: #f9c531;
                    border-radius: 60px;
                    height: 90px;
                    line-height: 100%;
                    margin-top: 0;
                    margin-bottom: 0;
                    cursor: pointer;
                }
            }
            
            
            input, select {
                width: 100%;
                background: #ffffff;
                border-radius: 60px;
                padding-left: 42px;
                padding-right: 40px;
                color: #404041;
                font-family: Larsseit;
                font-size: 25px;
                font-weight: 300;
                border: none;
                min-height: 81px;
                margin-bottom: 29px;
                
                &::placeholder {
                    color: #808184;
                    font-family: Larsseit;
                    font-size: 25px;
                    font-weight: 300;
                }
            }
            
            .select2 {
                width: 100%;
                background: #ffffff;
                border-radius: 60px;
                padding-left: 42px;
                padding-right: 40px;
                color: #404041;
                font-family: Larsseit;
                font-size: 25px;
                font-weight: 300;
                border: none;
                height: 81px;
                margin-bottom: 29px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                
                .selection {
                    height: 100%;
                }
            }
            
            .main-btn {
                color: #ffffff;
                font-family: Larsseit;
                font-size: 26px;
                font-weight: 400;
                line-height: 74px;
                text-transform: uppercase;
                background: #f9c531;
                border-radius: 60px;
                height: 90px;
                line-height: 100%;
                margin-top: 0;
                
                &:after {
                    left: 7%;
                    width: 86%;
                    background: #fa9f40;
                }
            }
        }
        
        .building-img {
            max-width: 1320px;
            margin: 0 auto;
            margin-top: 50px;
        }
    }
    
    footer .upper-part-home {
        position: relative;
        
        .home-footer-car {
            position: absolute;
            width: 368px;
            height: auto;
            -o-object-fit: cover;
            object-fit: cover;
            -o-object-position: bottom;
            object-position: bottom;
            bottom: -20px;
            left: 50%;
            transform: translate(-50%, 66.66667%);
        }
    }
    
}