body.service {
    header .nav-bar .nav-bar-right .nav-link, .mos-dropdown-parent a {
        color: #404041;
    }
}

.service-page-wrapper {
    .select2 {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    section.main-section {
        @include paddingY(130+100px, 200px);
        
        @include max-medium-screen {
            padding-top: 150px;
            padding-bottom: 250px;
        }
        
        
        svg {
            z-index: 0;
            height: 407px;
            width: 100%;
            position: absolute;
            bottom: -2px;
            @include max-medium-screen {
                height: 155px;
            }
        }
        
        background-image: url("../html/assets/images/service/hero_img.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
        
        .main-section-content {
            position: relative;
            z-index: 1;
            
            @include max-small-screen {
                max-width: 85%;
                margin: 0 auto;
            }
            
            .mos-title-1 {
                color: #14374c;
                padding-right: 90px;
                @include max-medium-screen {
                    text-align: center;
                    padding: 0;
                }
            }
            
            .mos-paragraph {
                padding-right: 90px;
                margin-top: 34px;
                @include max-medium-screen {
                    text-align: center;
                    padding: 0;
                    font-family: Larsseit;
                    font-size: 30px;
                    font-weight: 400;
                    line-height: 42px;
                    /* Text style for "Our all-in" */
                    letter-spacing: -0.3px;
                }
            }
            
            .features {
                margin-top: 50px;
                @include max-medium-screen {
                    display: none;
                }
                
                .feature {
                    align-items: center;
                    display: flex;
                    margin-bottom: 33px;
                    padding-right: 15px;
                    
                    .feature-icon {
                        width: 47px;
                        height: 47px;
                        border-radius: 50%;
                        background: #364b57;
                        margin-right: 14px;
                        color: #ffffff;
                        font-size: 30px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-basis: 47px;
                        flex-grow: 0;
                        flex-shrink: 0;
                        transition: all .3s ease-in-out;
                    }
                    
                    .feature-name {
                        color: #2c2f38;
                        font-family: Larsseit;
                        font-size: 22px;
                        font-weight: 700;
                        line-height: 22px;
                    }
                    
                    &:hover {
                        .feature-icon {
                            transform: rotate(360deg);
                        }
                    }
                }
            }
            
            .service-section-form {
                box-shadow: 0 3px 47px 4px rgba(0, 0, 0, 0.04);
                width: 100%;
                background: #ffffff;
                padding-top: 53px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-end;
                @include max-medium-screen {
                    box-shadow: none;
                    background: transparent;
                    padding-top: 0;
                }
                
                .form-title {
                    color: #404041;
                    font-family: "Qanelas Medium";
                    font-size: 29px;
                    font-weight: 400;
                    @include max-medium-screen {
                        color: #ffffff;
                    }
                }
                
                .input-group-wrapper {
                    //padding-right: 42px;
                    //padding-left: 42px;
                    width: 100%;
                    margin-top: 38px;
                    @include max-medium-screen {
                        padding: 0;
                    }
                    
                    label {
                        display: none;
                    }
                    
                    ul {
                        list-style: none;
                    }
                    
                    .gform_body {
                        padding-right: 42px;
                        padding-left: 42px;
                    }
                    
                    .gform_footer {
                        position: relative;
                        
                        &:after {
                            background: #faa63d;
                            content: '';
                            position: absolute;
                            bottom: 0;
                            width: 100%;
                            height: 0.3333rem;
                            left: 0;
                        }
                        
                        input[type="submit"] {
                            border: none;
                            height: 79px;
                            background: #f9c531;
                            color: #ffffff;
                            font-family: Larsseit;
                            font-size: 23px;
                            font-weight: 500;
                            text-transform: uppercase;
                            cursor: pointer;
                            width: 100%;
                        }
                    }
                    
                    label {
                        display: none;
                    }
                    
                    .input-wrapper {
                        position: relative;
                        margin-bottom: 19px;
                        
                        &:last-of-type {
                            margin-bottom: 39px;
                            @include max-medium-screen {
                                margin-bottom: 19px;
                            }
                        }
                        
                        input, select, .select2 {
                            @include max-medium-screen {
                                border-radius: 60px;
                                height: 81px;
                                background: #ffffff;
                                width: 100%;
                            }
                            width: 100% !important;
                            border: none;
                            height: 61px !important;
                            background: #f9f9fa;
                            color: #58595b;
                            font-family: Larsseit;
                            font-size: 20px;
                            font-weight: 300;
                            line-height: 35px;
                            padding-left: 32px;
                            padding-right: 32px;
                            
                            &::placeholder {
                                color: #808184;
                                font-family: Larsseit;
                                font-size: 20px;
                                font-weight: 300;
                            }
                        }
                    }
                }
                
                .view-price-btn {
                    height: 79px;
                    background: #f9c531;
                    color: #ffffff;
                    font-family: Larsseit;
                    font-size: 23px;
                    font-weight: 500;
                    text-transform: uppercase;
                    @include max-medium-screen {
                        height: 90px;
                        border-radius: 60px;
                    }
                    
                    &:after {
                        background: #faa63d;
                        @include max-medium-screen {
                            left: 5%;
                            width: 89%;
                        }
                    }
                }
            }
        }
    }
    
    .how-much-section {
        position: relative;
        background: $primary-color;
        padding-top: 0;
        
        .service-section-form {
            box-shadow: 0 3px 47px 4px rgba(0, 0, 0, 0.04);
            width: 100%;
            background: #ffffff;
            padding-top: 53px;
            @include max-medium-screen {
                box-shadow: none;
                background: transparent;
                margin-bottom: 237px;
            }
            @include max-small-screen {
                max-width: 85%;
                margin: 0 auto;
                margin-bottom: 150px;
            }
            
            
            .form-title {
                color: #404041;
                font-family: "Qanelas Medium";
                font-size: 29px;
                font-weight: 400;
                @include max-medium-screen {
                    color: #ffffff;
                    font-family: "Qanelas Bold";
                    font-size: 48px;
                    font-weight: 400;
                    line-height: 69px;
                }
                @include max-small-screen {
                    font-size: 32px;
                    font-weight: 400;
                    line-height: initial;
                }
            }
            
            label {
                display: none;
            }
            
            .gform_footer {
                position: relative;
                
                &:after {
                    background: #faa63d;
                    content: '';
                    position: absolute;
                    bottom: 0;
                    height: 0.3333rem;
                    left: 5%;
                    width: 89%;
                    
                    @include max-small-screen {
                        left: 10%;
                        width: 80%;
                    }
                }
                
                input[type="submit"] {
                    
                    
                    background: #f9c531;
                    color: #ffffff;
                    font-family: Larsseit;
                    font-size: 23px;
                    font-weight: 500;
                    text-transform: uppercase;
                    height: 90px;
                    border-radius: 60px;
                    padding-top: 1.26rem;
                    padding-bottom: 1.26rem;
                    position: relative;
                    border: none;
                    cursor: pointer;
                    width: 100%;
                }
            }
            
            .input-group-wrapper {
                padding-right: 42px;
                padding-left: 42px;
                margin-top: 38px;
                @include max-medium-screen {
                    padding: 0;
                }
                
                .input-wrapper {
                    margin-bottom: 19px;
                    position: relative;
                    
                    &:last-of-type {
                        margin-bottom: 39px;
                        @include max-medium-screen {
                            margin-bottom: 19px;
                        }
                    }
                    
                    input, select, .select2 {
                        @include max-medium-screen {
                            border-radius: 60px;
                            height: 81px;
                            background: #ffffff;
                        }
                        width: 100%;
                        border: none;
                        height: 61px;
                        background: #f9f9fa;
                        color: #58595b;
                        font-family: Larsseit;
                        font-size: 20px;
                        font-weight: 300;
                        line-height: 35px;
                        padding-left: 32px;
                        padding-right: 32px;
                        
                        &::placeholder {
                            color: #808184;
                            font-family: Larsseit;
                            font-size: 20px;
                            font-weight: 300;
                        }
                    }
                }
            }
            
            .view-price-btn {
                height: 79px;
                background: #f9c531;
                color: #ffffff;
                font-family: Larsseit;
                font-size: 23px;
                font-weight: 500;
                text-transform: uppercase;
                @include max-medium-screen {
                    height: 90px;
                    border-radius: 60px;
                }
                
                &:after {
                    background: #faa63d;
                    @include max-medium-screen {
                        left: 5%;
                        width: 89%;
                    }
                    @include max-small-screen {
                        left: 10%;
                        width: 80%;
                    }
                }
            }
        }
        
        .big-container {
            @media (max-width: 1700px) {
                max-width: 90rem;
            }
            @media (max-width: 1500px) {
                max-width: 85rem;
                zoom: 0.9;
            }
            @media (max-width: 1350px) {
                max-width: 75rem;
                zoom: 0.8;
            }
            @media (max-width: 1200px) {
                max-width: 70rem;
                zoom: 0.7;
            }
            @media (max-width: 991px) {
                max-width: 100%;
                zoom: 1;
            }
        }
        
        .mos-title-1 {
            text-align: center;
        }
        
        .the-sub-title {
            color: #ffffff;
            font-family: Larsseit;
            font-size: 26px;
            font-weight: 300;
            line-height: 40px;
            max-width: 670px;
            text-align: center;
            margin: 0 auto;
            margin-top: 25px;
            @include max-medium-screen {
                max-width: 480px;
                margin: 0 auto;
            }
            @include max-x-small-screen {
                max-width: 85%;
            }
        }
        
        
        .truck-sizes-flow {
            display: flex;
            justify-content: space-between;
            max-width: 1180px;
            margin: 0 auto;
            margin-top: 81px;
            
            
            .truck-size {
                opacity: 0.56 !important;
                text-align: center;
                cursor: pointer;
                //transition: opacity .5s ease-in-out;
                
                .the-title {
                    color: #ffffff;
                    font-family: Larsseit;
                    font-size: 25px;
                    line-height: 31px;
                    font-weight: 700;
                }
                
                .movers-count {
                    font-weight: 400;
                    color: #ffffff;
                    font-family: Larsseit;
                    font-size: 25px;
                    line-height: 31px;
                }
                
                &.active {
                    opacity: 1 !important;
                }
            }
        }
        
        .progress-truck-flow {
            max-width: 1034px;
            position: relative;
            height: 135px;
            margin: 0 auto;
            margin-top: 25px;
            overflow-x: hidden;
            
            
            .the-line {
                height: 10px;
                border-radius: 10px;
                position: absolute;
                left: 0;
                width: 100%;
                box-shadow: 0 3px 0 rgba(0, 0, 0, 0.05);
                transition: all .5s ease-in-out;
                overflow: hidden;
                
                &.dragging{
                    transition: none;
                }
                
                &.active-line {
                    top: 47px;
                    background: #f9c531;
                }
                
                &.non-active-line {
                    background: #ffffff;
                    left: 32%;
                    top: 0;
                    pointer-events: none;
                }
            }
            
            .circle-truck-flow {
                width: 55px;
                height: 55px;
                background: #ffffff;
                border-radius: 55px;
                position: absolute;
                left: 32%;
                transition: all .5s ease-in-out;
                top: 23px;
                pointer-events: none;
    
                &.dragging{
                    transition: none;
                }
    
                .small-circle {
                    width: 30px;
                    height: 30px;
                    background: #f9c531;
                    border-radius: 30px;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                }
                
                .the-triangle {
                    position: absolute;
                    top: calc(100% + 33px);
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 0 21px 24px 21px;
                    border-color: transparent transparent #ffffff transparent;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }
        
        
        .truck-size-results-wrapper {
            .truck-size-result-item {
                background: white;
                width: 100%;
                display: none;
                padding-left: 60px;
                padding-right: 60px;
                padding-top: 70px;
                padding-bottom: 50px;
                
                &.active {
                    display: block;
                }
                
                .content-left {
                    .the-main-title {
                        color: #2c2f38;
                        font-family: Larsseit;
                        font-size: 28px;
                        font-weight: 700;
                        line-height: 38px;
                        margin-top: 37px;
                        text-align: center;
                    }
                    
                    .the-price {
                        font-family: Larsseit;
                        font-size: 28px;
                        font-weight: 700;
                        line-height: 38px;
                        color: #04c4d9;
                        text-align: center;
                        margin-top: 5px;
                    }
                    
                    img {
                        width: 80%;
                        margin: 0 auto;
                    }
                    
                    
                    .Suitable-wrapper {
                        margin-top: 24px;
                        display: flex;
                        flex-direction: column;
                        align-items: baseline;
                        padding: 40px;
                        background: #f6fafe;
                        
                        .the-title {
                            color: #2c2f38;
                            font-family: Larsseit;
                            font-size: 21px;
                            font-weight: 700;
                        }
                        
                        .the-content {
                            color: #404041;
                            font-family: Larsseit;
                            font-size: 21px;
                            font-weight: 400;
                            line-height: 38px;
                            display: flex;
                            flex-flow: wrap;
                            margin-top: 16px;
                            
                            @include max-medium-screen {
                                justify-content: center;
                                margin-top: 35px;
                            }
                            
                            p {
                                margin-right: 20px;
                                
                                &:last-of-type {
                                    margin-left: 0;
                                }
                                
                                .hot-dot {
                                    color: #f9c531;
                                    font-family: "Larsseit - Bold";
                                    font-weight: 700;
                                }
                            }
                        }
                    }
                }
                
                .center-content {
                    margin-top: 27px;
                    
                    .top-title {
                        color: #2c2f38;
                        font-family: Larsseit;
                        font-size: 24px;
                        font-weight: 700;
                        text-align: center;
                    }
                    
                    .sub-title {
                        color: #8ca1a2;
                        font-family: Larsseit;
                        font-size: 25px;
                        font-weight: 300;
                        margin-top: 10px;
                        margin-bottom: 31px;
                    }
                    
                    .the-item {
                        height: 81px;
                        display: flex;
                        align-items: center;
                        padding-right: 30px;
                        padding-left: 40px;
                        background: #f6fafe;
                        justify-content: space-between;
                        
                        .text {
                            color: #2c2f38;
                            font-family: Larsseit;
                            font-size: 21px;
                            font-weight: 400;
                            line-height: 81px;
                        }
                        
                        .value {
                            color: #2c2f38;
                            font-family: Larsseit;
                            font-size: 21px;
                            font-weight: 700;
                            line-height: 64px;
                        }
                        
                        &.price-per-hour {
                            .value {
                                color: #04c4d9;
                            }
                        }
                        
                        &.hours-reserved {
                            background: #ffffff;
                        }
                        
                        &.travel-time {
                        
                        }
                        
                        &.total-cost {
                            background: #29dfae;
                            
                            .text {
                                color: #ffffff;
                            }
                            
                            .value {
                                color: #ffffff;
                                font-family: Larsseit;
                                font-size: 35px;
                                font-weight: 700;
                                line-height: 64px;
                            }
                        }
                    }
                    
                    .verified-wrapper {
                        margin-top: 32px;
                        display: flex;
                        padding-left: 27px;
                        padding-right: 27px;
                        justify-content: space-between;
                        
                        .verified {
                            display: flex;
                            align-items: center;
                            
                            .the-icon {
                                width: 32px;
                                height: 32px;
                                border-radius: 32px;
                                background: #facb45;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                color: #ffffff;
                                font-size: 20px;
                                flex-shrink: 0;
                                margin-right: 16px;
                            }
                            
                            .the-text {
                                color: #2c2f38;
                                font-family: Larsseit;
                                font-size: 19px;
                                font-weight: 700;
                            }
                        }
                    }
                }
                
                .right-content {
                    margin-top: 27px;
                    background: #f6fafe;
                    padding-left: 30px;
                    padding-right: 30px;
                    
                    .the-title {
                        color: #2c2f38;
                        font-family: Larsseit;
                        font-size: 24px;
                        font-weight: 700;
                        line-height: 81px;
                        text-align: center;
                    }
                    
                    .day-cost {
                        height: 80px;
                        border-top: 1px solid #e8eff4;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        
                        .text {
                            color: #2c2f38;
                            font-family: Larsseit;
                            font-size: 21px;
                            font-weight: 400;
                            line-height: 81px;
                        }
                        
                        .value {
                            color: #2c2f38;
                            font-family: Larsseit;
                            font-size: 21px;
                            font-weight: 700;
                            line-height: 81px;
                        }
                    }
                }
                
            }
        }
        
        
        @include max-medium-screen {
            .truck-size-results-wrapper-mobile {
                .truck-size-result-item {
                    display: none;
                    
                    &.active {
                        display: block;
                    }
                }
                
                .select-truck-size, .select2 {
                    height: 81px;
                    width: 100% !important;
                    color: #29dfae;
                    font-family: Larsseit;
                    font-size: 25px;
                    font-weight: 400;
                    padding-left: 40px;
                    padding-right: 40px;
                    border-radius: 60px;
                    margin-top: 99px;
                    margin-bottom: 74px;
                    background: white;
                    
                    .select2-selection--single .select2-selection__rendered {
                        color: #29dfae;
                        font-family: Larsseit;
                        font-size: 25px;
                        font-weight: 400;
                    }
                }
                
                .top-text {
                    .the-main-title {
                        color: #ffffff;
                        font-family: Larsseit;
                        font-size: 32px;
                        font-weight: 400;
                        text-align: center;
                    }
                    
                    .the-price {
                        color: #ffffff;
                        font-family: Larsseit;
                        font-size: 35px;
                        font-weight: 700;
                        line-height: 38px;
                        margin-top: 10px;
                        text-align: center;
                    }
                }
                
                .bottom-section {
                    background: #ffffff;
                    padding: 70px 50px;
                    margin-top: 57px;
                    position: relative;
                    
                    @include max-x-small-screen {
                        padding: 50px 20px;
                    }
                    
                    .the-triangle {
                        position: absolute;
                        top: -23px;
                        width: 0;
                        height: 0;
                        border-style: solid;
                        border-width: 0 21px 24px 21px;
                        border-color: transparent transparent #ffffff transparent;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                    
                    .truck-img {
                        width: 90%;
                        margin: 0 auto;
                        margin-bottom: 58px;
                    }
                    
                    .right-content {
                        background: transparent;
                        
                        .the-title {
                            color: #2c2f38;
                            font-family: Larsseit;
                            font-size: 26px;
                            font-weight: 700;
                            line-height: 81px;
                            text-align: center;
                        }
                        
                        .day-cost {
                            height: 70px;
                            border-top: 1px solid #e8eff4;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            
                            .text {
                                color: #58595b;
                                font-family: Larsseit;
                                font-size: 26px;
                                font-weight: 300;
                                line-height: 70px;
                            }
                            
                            .value {
                                color: #404041;
                                font-family: Larsseit;
                                font-size: 26px;
                                font-weight: 400;
                                line-height: 70px;
                            }
                        }
                    }
                    
                    .Suitable-wrapper {
                        margin-top: 59px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        
                        .the-title {
                            color: #2c2f38;
                            font-family: Larsseit;
                            font-size: 26px;
                            font-weight: 700;
                            text-align: center;
                        }
                        
                        .the-content {
                            color: #404041;
                            font-family: Larsseit;
                            font-size: 22px;
                            font-weight: 400;
                            line-height: 38px;
                            display: flex;
                            flex-flow: wrap;
                            margin-top: 20px;
                            justify-content: center;
                            
                            p {
                                margin-right: 20px;
                                
                                &:last-of-type {
                                    margin-left: 0;
                                }
                                
                                .hot-dot {
                                    color: #f9c531;
                                    font-family: "Larsseit - Bold";
                                    font-weight: 700;
                                }
                            }
                        }
                    }
                    
                    .center-content {
                        margin-top: 58px;
                        
                        .top-title {
                            color: #2c2f38;
                            font-family: Larsseit;
                            font-size: 26px;
                            font-weight: 700;
                            text-align: center;
                        }
                        
                        .sub-title {
                            color: #8ca1a2;
                            font-family: Larsseit;
                            font-size: 25px;
                            font-weight: 300;
                            margin-top: 10px;
                            margin-bottom: 31px;
                            text-align: center;
                        }
                        
                        .the-item {
                            height: 81px;
                            display: flex;
                            align-items: center;
                            padding-right: 30px;
                            padding-left: 40px;
                            background: #f6fafe;
                            justify-content: space-between;
                            
                            @include max-x-small-screen {
                                padding-right: 10px;
                                padding-left: 10px;
                            }
                            
                            .text {
                                color: #2c2f38;
                                font-family: Larsseit;
                                font-size: 21px;
                                font-weight: 400;
                            }
                            
                            .value {
                                color: #2c2f38;
                                font-family: Larsseit;
                                font-size: 21px;
                                font-weight: 700;
                            }
                            
                            &.price-per-hour {
                                .value {
                                    color: #04c4d9;
                                }
                            }
                            
                            &.hours-reserved {
                                background: #ffffff;
                            }
                            
                            &.travel-time {
                            
                            }
                            
                            &.total-cost {
                                background: #29dfae;
                                
                                .text {
                                    color: #ffffff;
                                }
                                
                                .value {
                                    color: #ffffff;
                                    font-family: Larsseit;
                                    font-size: 35px;
                                    font-weight: 700;
                                    line-height: 64px;
                                }
                            }
                        }
                        
                        .verified-wrapper {
                            margin-top: 32px;
                            display: flex;
                            padding-left: 27px;
                            padding-right: 27px;
                            justify-content: space-between;
                            
                            .verified {
                                display: flex;
                                align-items: center;
                                
                                .the-icon {
                                    width: 32px;
                                    height: 32px;
                                    border-radius: 32px;
                                    background: #facb45;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    color: #ffffff;
                                    font-size: 20px;
                                    flex-shrink: 0;
                                    margin-right: 10px;
                                }
                                
                                .the-text {
                                    color: #2c2f38;
                                    font-family: Larsseit;
                                    font-size: 19px;
                                    font-weight: 700;
                                }
                            }
                        }
                    }
                }
            }
        }
        @include max-small-screen {
            .truck-size-results-wrapper-mobile {
                max-width: 90%;
                margin: 0 auto;
            }
            .verified-wrapper {
                padding-right: 0;
                padding-left: 0;
            }
        }
        
        
    }
    
    .services-table-section-content {
        @include max-small-screen {
            max-width: 90%;
            margin: 0 auto;
        }
    }
    
    .services-table-section {
        background: #04c4d9;
        
        .the-title {
            color: #ffffff;
            font-family: "Qanelas Bold";
            font-size: 33px;
            font-weight: 400;
            line-height: 80px;
            text-align: center;
            
            @include max-medium-screen {
                line-height: 45px;
            }
        }
        
        .overflow-x {
            overflow-x: auto;
        }
        
        .select2 {
            display: none;
        }
        
        @include max-medium-screen {
            .select2 {
                width: 100% !important;
                background: #ffffff;
                height: 81px;
                color: #29dfae;
                font-family: Larsseit;
                font-size: 28px;
                font-weight: 700;
                line-height: 41px;
                padding-right: 42px;
                padding-left: 42px;
                border-radius: 60px;
                margin-bottom: 85px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 60px;
                
                .select2-selection--single .select2-selection__rendered {
                    color: #29dfae;
                    font-family: Larsseit;
                    font-size: 28px;
                    font-weight: 700;
                }
                
                span.select2-selection__arrow i.fas.fa-caret-down {
                    color: #29dfae;
                }
            }
        }
        
        .services-tabs {
            max-width: 750px;
            margin: 0 auto;
            margin-top: 69px;
            margin-bottom: 98px;
            display: flex;
            
            @include max-medium-screen {
                display: none;
            }
            
            button {
                color: #ffffff;
                font-family: Larsseit;
                font-size: 24px;
                font-weight: 300;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #09526f;
                border: none;
                min-width: 250px;
                height: 81px;
                
                &.active {
                    color: #002b49;
                    font-family: Larsseit;
                    font-size: 28px;
                    font-weight: 700;
                    background: #ffffff;
                }
                
                &:first-of-type {
                    border-bottom-left-radius: 60px;
                    border-top-left-radius: 60px;
                    margin-right: 1px;
                }
                
                &:last-of-type {
                    border-bottom-right-radius: 60px;
                    border-top-right-radius: 60px;
                    margin-left: 1px;
                }
            }
        }
        
        .services-table {
            max-width: 1024px;
            width: 100%;
            margin: 0 auto;
            display: none;
            opacity: 0;
            transition: all 5s ease-out;
            border-spacing: 0;
            border: none;
            
            &.active {
                display: table;
                opacity: 1;
            }
            
            th, td {
                min-height: 80px;
                padding-left: 58px;
                text-align: left;
                
                @include max-medium-screen {
                    line-height: initial !important;
                    text-align: center;
                    padding-top: 20px;
                    padding-bottom: 20px;
                }
            }
            
            td {
                color: #ffffff;
                font-family: Larsseit;
                font-size: 26px;
                font-weight: 300;
                line-height: 80px;
            }
            
            th {
                color: #002b49;
                font-family: Larsseit;
                font-size: 28px;
                font-weight: 700;
                line-height: 80px;
            }
            
            tr {
                &:nth-of-type(even) {
                    background: #36d0e1;
                }
                
                &:nth-of-type(odd) {
                    background: #04c4d9;
                }
            }
            
            .last-row {
                background: #f9c531 !important;
                
                td {
                    font-weight: 700;
                }
            }
        }
        
    }
    
    .our-truck-sizes-section {
        padding-bottom: 570px;
        
        @include max-medium-screen {
            padding-bottom: 390px;
        }
        @include max-x-small-screen {
            padding-bottom: 220px;
        }
        
        .our-truck-sizes-section-content {
            max-width: 1024px;
            margin: 0 auto;
            
            @include max-small-screen {
                max-width: 90%;
            }
            
            .truck-sizes-title {
                color: #14374c;
                font-family: "Qanelas Bold";
                font-size: 55px;
                font-weight: 400;
                line-height: 59px;
                /* Text style for "Our Truck" */
                letter-spacing: -0.55px;
                text-align: center;
            }
            
            .truck-sizes-text {
                color: #404041;
                font-family: Larsseit;
                font-size: 26px;
                font-weight: 400;
                line-height: 40px;
                text-align: center;
                max-width: 857px;
                margin: 0 auto;
                margin-top: 33px;
                @include max-medium-screen {
                    max-width: 550px;
                }
            }
            
            .select2 {
                display: none;
            }
            
            @include max-medium-screen {
                .select2 {
                    width: 100% !important;
                    max-width: 600px;
                    background: #29dfae;
                    height: 81px;
                    color: #ffffff;
                    font-family: Larsseit;
                    font-size: 25px;
                    font-weight: 400;
                    line-height: 41px;
                    padding-right: 42px;
                    padding-left: 42px;
                    border-radius: 60px;
                    margin: 0 auto;
                    margin-bottom: 85px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-top: 75px;
                    
                    .select2-selection--single .select2-selection__rendered {
                        color: #ffffff;
                        font-family: Larsseit;
                        font-size: 25px;
                        font-weight: 400;
                    }
                    
                    span.select2-selection__arrow i.fas.fa-caret-down {
                        color: #ffffff;
                    }
                }
            }
            
            
            .truck-sizes-tabs {
                margin: 0 auto;
                margin-top: 69px;
                margin-bottom: 118px;
                display: flex;
                justify-content: center;
                
                @include max-medium-screen {
                    display: none;
                }
                
                button {
                    color: #8ca1a2;
                    font-family: Larsseit;
                    font-size: 24px;
                    font-weight: 300;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #f6fafe;
                    border: none;
                    min-width: 250px;
                    height: 81px;
                    
                    &.active {
                        color: #ffffff;
                        font-family: Larsseit;
                        font-size: 28px;
                        font-weight: 700;
                        background: #29dfae;
                    }
                    
                    &:first-of-type {
                        border-bottom-left-radius: 60px;
                        border-top-left-radius: 60px;
                        margin-right: 1px;
                    }
                    
                    &:last-of-type {
                        border-bottom-right-radius: 60px;
                        border-top-right-radius: 60px;
                        margin-left: 1px;
                    }
                }
            }
            
            .truck-sizes-content {
                display: none;
                
                &.active {
                    display: table;
                    opacity: 1;
                }
                
                .big-title {
                    color: #000000;
                    font-family: "Qanelas Bold";
                    font-size: 40px;
                    font-weight: 400;
                    line-height: 21px;
                    /* Text style for "Medium" */
                    letter-spacing: -0.4px;
                    
                    @include max-medium-screen {
                        text-align: center;
                    }
                }
                
                .paragraph {
                    color: #8ca1a2;
                    font-family: Larsseit;
                    font-size: 25px;
                    font-weight: 300;
                    line-height: 42px;
                    margin-top: 27px;
                    @include max-medium-screen {
                        text-align: center;
                        max-width: 90%;
                        margin: 0 auto;
                        margin-top: 27px;
                    }
                }
                
                .the-img {
                    margin-top: 75px;
                }
                
                .Suitable-wrapper {
                    margin-top: 43px;
                    display: flex;
                    align-items: baseline;
                    
                    @include max-medium-screen {
                        flex-direction: column;
                        align-items: center;
                    }
                    @include max-small-screen {
                        max-width: 95%;
                        margin: 0 auto;
                        margin-top: 43px;
                    }
                    
                    .the-title {
                        color: #000000;
                        font-family: Larsseit;
                        font-size: 22px;
                        font-weight: 700;
                        /* Text style for "Suitable f" */
                        letter-spacing: -0.22px;
                        width: 216px;
                        flex-shrink: 0;
                    }
                    
                    .the-content {
                        color: #404041;
                        font-family: Larsseit;
                        font-size: 22px;
                        font-weight: 400;
                        line-height: 38px;
                        display: flex;
                        flex-flow: wrap;
                        
                        @include max-medium-screen {
                            justify-content: center;
                            margin-top: 35px;
                        }
                        
                        p {
                            margin-right: 44px;
                            
                            @include max-small-screen {
                                margin-right: 18px;
                            }
                            
                            &:last-of-type {
                                margin-left: 0;
                            }
                            
                            .hot-dot {
                                color: #f9c531;
                                font-family: "Larsseit - Bold";
                                font-weight: 700;
                            }
                        }
                    }
                }
            }
        }
    }
    
    .clip-path-services-section {
        background: #f6fafe;
        position: relative;
        padding-top: 0;
        @include max-medium-screen {
            padding-top: 70px;
        }
        
        .margin-top-negative {
            position: relative;
            top: -90px;
            z-index: 9;
            @include max-medium-screen {
                top: 0;
            }
        }
        
        svg {
            position: absolute;
            bottom: 100%;
            height: 456px;
            z-index: 1;
            width: 100%;
            
            @include max-medium-screen {
                height: 155px;
            }
        }
        
        .mos-title-1 {
            margin-bottom: 185px;
            color: #14374c;
            text-align: center;
            @include max-medium-screen {
                margin-bottom: 123px;
            }
        }
        
        .rounded-service-wrapper {
            display: flex;
            align-items: center;
            margin-bottom: 200px;
            $size_m: 126px;
            $size: 174px;
            
            &:last-of-type {
                margin-bottom: 30px;
            }
            
            
            @include max-medium-screen {
                flex-direction: column;
                align-items: baseline;
                margin-bottom: 145px;
            }
            
            &:nth-of-type(odd) {
                .the-content {
                    margin-left: 60px;
                }
                
                .rounded-shape {
                    border-bottom-right-radius: $size * 2;
                    border-top-right-radius: $size * 2;
                    margin-right: 40px;
                    @include max-medium-screen {
                        border-bottom-right-radius: $size_m * 2;
                        border-top-right-radius: $size_m * 2;
                    }
                }
                
                .the-img {
                    object-position: left;
                }
            }
            
            &:nth-of-type(even) {
                flex-direction: row-reverse;
                @include max-medium-screen {
                    flex-direction: column;
                }
                
                .the-image-wrapper {
                    flex-direction: row-reverse;
                }
                
                .the-img {
                    object-position: right;
                }
                
                .the-content {
                    margin-right: 60px;
                }
                
                .rounded-shape {
                    border-bottom-left-radius: $size * 2;
                    border-top-left-radius: $size * 2;
                    margin-left: 40px;
                    @include max-medium-screen {
                        border-bottom-left-radius: $size_m * 2;
                        border-top-left-radius: $size_m * 2;
                    }
                }
            }
            
            .the-image-wrapper {
                display: flex;
                align-items: flex-end;
                height: $size * 2;
                @include max-medium-screen {
                    height: 213px;
                }
                
                .rounded-shape {
                    background: #9e978e;
                    display: inline-block;
                    width: $size;
                    height: 100%;
                    flex-shrink: 0;
                    @include max-medium-screen {
                        width: $size_m;
                    }
                }
                
                .the-img {
                    max-width: 755px;
                    //@include min-medium-screen {
                    //    height: auto;
                    //}
                }
                
                @media (max-width: 1650px) {
                    zoom: .8;
                }
                @media (max-width: 1400px) {
                    zoom: .7;
                }
                @media (max-width: 1200px) {
                    zoom: .6;
                }
                @include max-medium-screen {
                    zoom: 1;
                }
                @media (max-width: 714px) {
                    zoom: .8;
                }
                @media (max-width: 570px) {
                    zoom: .6;
                }
                @media (max-width: 430px) {
                    zoom: .45;
                }
            }
            
            .the-title-wrapper {
                text-align: center;
                margin: 0 auto;
                margin-bottom: 20px;
                @media (max-width: 714px) {
                    padding: 0 40px;
                }
                @include max-medium-screen {
                    margin-bottom: 40px;
                }
                
                .the-big-title {
                    color: #364b57;
                    font-family: Larsseit;
                    font-size: 42px;
                    font-weight: 400;
                    line-height: 40px;
                    /* Text style for "Local Move" */
                    letter-spacing: -0.45px;
                }
                
                .the-small-title {
                    color: #58595b;
                    font-family: Larsseit;
                    font-size: 27px;
                    font-weight: 700;
                    @include max-medium-screen {
                        margin-top: 20px;
                    }
                }
                
            }
            
            .the-content {
                max-width: 455px;
                @include max-medium-screen {
                    max-width: 550px;
                }
                @media (max-width: 714px) {
                    padding: 0 40px;
                    text-align: center;
                }
                
                @media (max-width: 1400px) {
                    zoom: .9;
                }
                @media (max-width: 1200px) {
                    zoom: .8;
                }
                @include max-medium-screen {
                    zoom: 1;
                    margin: 0 auto !important;
                }
                
                .the-big-title {
                    color: #364b57;
                    font-family: Larsseit;
                    font-size: 45px;
                    font-weight: 400;
                    line-height: 40px;
                    /* Text style for "Local Move" */
                    letter-spacing: -0.45px;
                }
                
                .the-small-title {
                    color: #58595b;
                    font-family: Larsseit;
                    font-size: 24px;
                    font-weight: 700;
                    line-height: 63px;
                }
                
                .the-paragraph {
                    margin-top: 40px;
                    color: #404041;
                    font-family: Larsseit;
                    font-size: 24px;
                    font-weight: 300;
                    line-height: 40px;
                    
                    @include max-medium-screen {
                        color: #404041;
                        font-family: Larsseit;
                        font-size: 28px;
                        font-weight: 400;
                        line-height: 42px;
                        /* Text style for "Duis autem" */
                        letter-spacing: -0.28px;
                        margin-top: 70px;
                    }
                }
                
                .get-an-estimate {
                    margin-top: 63px;
                    height: 71px;
                    display: flex;
                    align-items: center;
                    max-width: 320px;
                    padding: 0;
                    justify-content: center;
                    @include max-medium-screen {
                        margin-top: 50px;
                    }
                    
                    &:hover {
                        background: transparent !important;
                        color: #364b57 !important;
                    }
                    
                    @include max-medium-screen {
                        max-width: 100%;
                    }
                }
            }
            
            
        }
    }
    
    section.ready-to-book-your-move {
        background: #f6fafe;
        padding-bottom: 0;
        
        @include max-medium-screen {
            padding-top: 125px;
        }
        @include max-small-screen {
            padding-top: 75px;
        }
        @include max-x-small-screen {
            padding-top: 50px;
        }
        
        .mos-title-2 {
            margin-bottom: 25px;
            color: #364b57;
        }
        
        .mos-paragraph {
            color: #404041;;
        }
        
        .footer-form {
            max-width: 820px;
            margin-top: 73px;
            background: #ffffff;
            
            @include max-medium-screen {
                background: transparent;
                max-width: 600px;
                margin: 0 auto;
                margin-top: 45px;
            }
            @include max-small-screen {
                padding-right: 25px;
                padding-left: 25px;
                max-width: 90%;
                margin: 0 auto;
                margin-top: 45px;
            }
            
            .container {
                padding: 40px 50px;
                padding-bottom: 10px;
                @include max-medium-screen {
                    padding: 0;
                }
            }
            
            input, select, .select2 {
                width: 100%;
                background: #f9f9fa;
                border-radius: 60px;
                padding-left: 42px;
                padding-right: 40px;
                color: #404041;
                font-family: Larsseit;
                font-size: 25px;
                font-weight: 300;
                border: none;
                min-height: 81px;
                margin-bottom: 29px;
                @include max-medium-screen {
                    background: #ffffff;
                }
                
                &::placeholder {
                    color: #808184;
                    font-family: Larsseit;
                    font-size: 25px;
                    font-weight: 300;
                }
            }
            
            .main-btn {
                color: #ffffff;
                font-family: Larsseit;
                font-size: 26px;
                font-weight: 400;
                line-height: 74px;
                text-transform: uppercase;
                background: #f9c531;
                height: 90px;
                line-height: 100%;
                width: 100%;
                @include max-medium-screen {
                    border-radius: 60px;
                }
                
                &:after {
                    background: #fa9f40;
                    @include max-medium-screen {
                        left: 6%;
                        width: 88%;
                    }
                    @include max-x-small-screen {
                        left: 10%;
                        width: 80%;
                    }
                }
            }
        }
        
        .building-img {
            width: 100%;
            margin-top: 250px;
            
            @include max-small-screen {
                margin-top: 200px;
            }
        }
    }
    
    
}

.service footer .lower-part {
    padding-top: 92px;
}