.col-with-number {
    position: relative;
    @include max-medium-screen {
        margin-top: 90px;
    }
    
    h2 {
        position: relative;
        z-index: 2;
        margin-bottom: 3.4667rem; /* 52px */
    
    
        &:before {
            content: attr(data-mos-before-number);
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0.25;
            color: #d0e7f8;
            font-family: "Qanelas Black";
            font-size: 20rem; /* 300px */
            font-weight: 400;
            line-height: 15rem; /* 32px */
            /* Text style for "1" */
            letter-spacing: -0.5rem; /* -7.5px */
            transition: all 400ms;
            z-index: -1;
            transform: translate(-50%, -50%);
            pointer-events: none;
        
        }
        @include max-small-screen {
            text-align: center;
            &:before{
                font-size: 50vw;
                line-height: 40vw;
                transform: translate(0, -50%);
            }
            
        }
    }
    //
    //&:hover {
    //    h2:before {
    //        transform: translate(-50%, -50%) rotate(360deg);
    //    }
    //}
    //
    //@include max-small-screen{
    //    &:hover {
    //        h2:before {
    //            transform: translate(0, -50%) rotate(360deg);
    //        }
    //    }
    //}
    .mos-paragraph {
        p {
            margin-bottom: 2.6667rem; /* 40px */
        }
        
        P:last-of-type {
            margin-bottom: 4.4rem; /* 66px */
        }
    }
}

.sub-btn {
    background-color: $primary-color;
    color: #ffffff;
    font-family: Larsseit;
    font-size: 1.6667rem; /* 25px */
    font-weight: 400;
    padding: 1.7333rem 80px; /* 26px 88px */
    border-radius: 4rem; /* 60px */
    border: 3px solid $primary-color;
    text-align: center;
    //min-width: 23.4rem; /* 351px */
    display: inline-block;
    transition: all 400ms;
    
    &:hover,&.active {
        color: $primary-color;
        background-color: #fff;
    }
    
    @include max-medium-screen{
        padding: 15px 30px;
        display: block;
        width: 100%;
    }
}

.sub-btn-2 {
    background-color: transparent;
    color: $primary-color;
    font-family: Larsseit;
    font-size: 1.6667rem; /* 25px */
    font-weight: 400;
    padding: 1.7333rem 80px; /* 26px 88px */
    border-radius: 4rem; /* 60px */
    border: 3px solid $primary-color;
    text-align: center;
    //min-width: 23.4rem; /* 351px */
    display: inline-block;
    transition: all 400ms;
    
    &:hover,&.active {
        color: #ffffff;
        background-color: $primary-color;
    }
    
    @include max-medium-screen{
        padding: 15px 30px;
        display: block;
        width: 100%;
    }
}


ul{
    list-style: none!important;
}

button.main-btn {
    border: none;
    background: $primary-color;
    width: 100%;
    color: #ffffff;
    font-family: Larsseit;
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    @include paddingY(1.26rem);
    position: relative;
    
    
    &:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        background: #0393a3;
        height: 0.3333rem;
        
    }
    
    &.yellow{
        background: #f9c531;
        &:after{
            background: #fa9f40;
        }
    }
}

//.container{
//    @include max-medium-screen{
//        padding-left: 22%;
//        padding-right: 22%;
//    }
//    @include max-small-screen{
//        padding-left: 10%;
//        padding-right: 10%;
//    }
//    @include max-x-small-screen{
//        padding-left: 5%;
//        padding-right: 5%;
//    }
//}