//region Larsseit fontface
@font-face {
    font-family: Larsseit;
    src: url('fonts/Larsseit.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Larsseit - Bold";
    src: url('fonts/Larsseit-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: Larsseit;
    src: url('fonts/Larsseit-Light.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

//endregion Larsseit fontface
//
// region "Qanelas Bold" fontface

@font-face {
    font-family: "Qanelas Medium";
    src: url('fonts/QANELASMEDIUM.ttf') format('truetype');
}
@font-face {
    font-family: "Qanelas Bold";
    src: url('fonts/QANELASBOLD.ttf') format('truetype');
}

@font-face {
    font-family: "Qanelas Black";
    src: url('fonts/QANELASBLACK.ttf') format('truetype');
}

@font-face {
    font-family: "Qanelas Regular";
    src: url('fonts/QANELAS-REGULAR-WEBFONT.ttf') format('truetype');
}

//endregion "Qanelas Bold" fontface