* {
    outline: none !important;
    box-sizing: border-box;
}

html {
    font-size: 15px;
}

body {
    overflow-x: hidden;
}

a.nav-link.call-nav-link{
    @include max-medium-screen{
        i{
            margin-right: 15px;
        }
    }
}

.big-container {
    max-width: 100rem;
    margin: 0 auto;
}

section {
    @include paddingY(5.4667rem); /* 82px */
}

img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    
    &:not(.no-zoom) {
    }
}

.overflow-hidden {
    overflow: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

.select2-hidden-accessible {
    display: none;
}

span.select2-container.select2-container--default.select2-container--open {
    width: 100%;
    z-index: 9;
    
    ul {
        list-style: none;
        padding: 20px;
    }
}

@media (min-width: 1200px) {
    .text-xl-left {
        text-align: left !important;
    }
}

span#u_0_5, span#u_0_5 * {
    color: #ffffff;
    font-family: Larsseit;
    font-size: 20px;
    font-weight: 400;
    line-height: 35px;
    margin-left: 5px;
}

span.select2-selection__arrow i.fas.fa-caret-down {
    color: #929497;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding: 0 !important;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    padding-left: 25px;
    padding-right: 25px;
}

.select2-results__option, .select2-container--default .select2-search--dropdown .select2-search__field {
    color: #58595b !important;
    font-family: Larsseit !important;
    font-size: 20px !important;
    font-weight: 300 !important;
    line-height: 35px !important;
}

.select2-search--dropdown {
    padding: 0 !important;
    
    input {
        min-height: 50px !important;
    }
}

.select2-container--default .select2-selection--single {
    background-color: transparent !important;
    border: none !important;
    border-radius: 0 !important;
    height: 100% !important;
    width: 100% !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 100% !important;
    position: unset !important;
    width: auto !important;
    display: flex !important;
    align-items: center !important;
}

.select2 {
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    
    span.selection {
        width: 100%;
        
        span.select2-selection.select2-selection--single {
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: space-between;
        }
    }
    
}

button {
    border: 0.1333rem solid #ffffff;
    background: transparent;
    cursor: pointer;
    padding: 0.8667rem 2.3333rem;
    
    &.navbar-toggler {
        padding: 0.6667rem !important;
    }
    
    transition: all 400ms;
}

h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

.text-center {
    text-align: center;
}


.hover-arrow {
    .fa-long-arrow-right {
        transition: all 400ms;
    }
    
    &:hover {
        .fa-long-arrow-right {
            transform: translateX(30%) rotateX(0.01deg) !important;
        }
    }
}

%hover-zoom {
    transition: transform 400ms;
    
    &:hover {
        transform: scale(1.05) !important;
    }
}

%hover-darken {
    transition: filter 400ms;
    
    &:hover {
        filter: brightness(0.6);
    }
}

.fa-long-arrow-right {
    margin-left: 0.4667rem;
    font-size: 1.0667rem;
}

//region Typography
.mos-title-1 {
    color: #ffffff;
    font-family: "Qanelas Bold";
    font-size: 3.3333rem;
    font-weight: 400;
    
    @include max-medium-screen {
        font-size: 75px;
    }
    @include max-small-screen {
        font-size: 8vw;
    }
    
}

.mos-title-2 {
    color: #364b57;
    font-family: "Qanelas Bold";
    font-size: 47px;
    font-weight: 400;
    letter-spacing: -0.47px;
    @include max-medium-screen {
        font-size: 63px;
    }
    @include max-small-screen {
        font-size: 7vw;
    }
}
.select2 span.selection {
    width: 100%;
    height: 100%;
}

#loading{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #F9FCFE;
    z-index: 9999;
    .lds-ripple {
        display: inline-block;
        position: absolute;
        width: 64px;
        height: 64px;
        left: 50%;
        top: 50%;
        transform: translate(-50% , -50%);
    }
    .lds-ripple div {
        position: absolute;
        border: 4px solid $primary-color;
        opacity: 1;
        border-radius: 50%;
        animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    }
    .lds-ripple div:nth-child(2) {
        animation-delay: -0.5s;
    }
    @keyframes lds-ripple {
        0% {
            top: 48px;
            left: 48px;
            width: 0;
            height: 0;
            opacity: 1;
        }
        100% {
            top: -1px;
            left: -1px;
            width: 98px;
            height: 98px;
            opacity: 0;
        }
    }
    
}
.mos-title-3 {
    color: #ffffff;
    font-family: Larsseit;
    font-size: 1.8667rem;
    font-weight: 400;
    
    @include max-small-screen {
        font-size: 34px;
    }
    @include max-x-small-screen {
        font-size: 6vw;
    }
}

.mos-title-4 {
    color: #8ca1a2;
    font-family: Larsseit;
    font-size: 19px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1.9px;
}

.mos-paragraph {
    color: #58595b;
    font-family: Larsseit;
    font-size: 23px;
    font-weight: 400;
    line-height: 32px;
}

.primary-color {
    color: $primary-color;
}

//endregion Typography
