// media screen sizes
$xx-small-screen-max-width: 400.98px;
$x-small-screen-max-width: 575.98px;
$small-screen-max-width: 767.98px;
$medium-screen-max-width: 991.98px;
$large-screen-max-width: 1199.98px;
$x-large-screen-max-width: 1550.98px;

$x-small-screen-min-width: 401px;
$small-screen-min-width: 576px;
$medium-screen-min-width: 768px;
$large-screen-min-width: 992px;
$x-large-screen-min-width: 1200px;

//Color scheme
$neutral-color: #fff;
$primary-color: #04c4d9;
$secondary-color: #f3f9fd;
$main-background-color: #cddad4;
$container-background-color: #fff;
$filter-color: rgba(255, 255, 255, 0.25);
$divider-color: #e7eeeb;

// font-family
$montserrat: Montserrat, sans-serif;
$circular: Circular, sans-serif;

//override bootstrap variables
$grid-gutter-width: 20px;
$container-max-widths: (
        sm: 608px,
        md: 720px,
        //sm: 100%,
        //md: 100%,
        lg: 992px,
        xl: 1200px
);

