@import "variables";
@import "../../node_modules/bootstrap/scss/bootstrap-grid";
@import "fonts";
@import "mixins";
@import "general-classes";
@import "components";
@import "layouts/header";
@import "layouts/footer";
@import "pages/index";


.iv-wp {
}

.iv-wp-from-bottom {
}

.iv-wp-from-left {
}

.iv-wp-from-right {
}

.iv-wp-from-top {
}