/*!* Custom style added by Moemen *!*/

.not-found{
  text-align: center;
  font-family: "Qanelas Bold";
}
.fa-star{
  color: #f9ec34;
  font-size: 22px;
}
.stars{
  text-align: center;
}
.home-page-wrapper .testimonial-section{
  background-size: cover !important;
}
/*.footer-links-list-title{*/
/*  color: #04c4d9;*/
/*font-family: Larsseit;*/
/*font-size: 22px;*/
/*font-weight: 700;*/
/*line-height: 29px;*/
/*}*/
/*#u_0_5{*/
/*  font-size: 20px !important;*/
/*}*/
/*!*.main-section-form #gform_submit_button_1{*!*/
/*!*  border: none;*!*/
/*!*background: #04c4d9;*!*/
/*!*width: 100%;*!*/
/*!*color: #ffffff;*!*/
/*!*font-family: Larsseit;*!*/
/*!*font-size: 1.2rem;*!*/
/*!*font-weight: 700;*!*/
/*!*text-transform: uppercase;*!*/
/*!*padding-top: 1.26rem;*!*/
/*!*padding-bottom: 1.26rem;*!*/
/*!*position: relative;*!*/
/*!*cursor: pointer;*!*/
/*!*}*!*/
/*!*.main-section-form form label{*!*/
/*!*  color: #929497;*!*/
/*!*font-family: Larsseit;*!*/
/*!*font-size: 1rem !important;*!*/
/*!*font-weight: 300 !important;*!*/
/*!*margin-bottom: 0.4rem !important;*!*/
/*!*}*!*/

/*!*.gform_heading{*!*/
/*!*  display: none;*!*/
/*!*}*!*/
/*!*.main-section-form .gform_body{*!*/
/*!*  padding: 2.2667rem 1.5333rem 1.3333rem;*!*/
/*!*background: #fff;*!*/
/*!*flex-flow: wrap;*!*/
/*!*border-top-left-radius: 0.6667rem;*!*/
/*!*border-top-right-radius: 0.6667rem;*!*/
/*!*}*!*/
/*!*.main-section-form .gform_wrapper .gform_footer{*!*/
/*!*padding:0px !important;*!*/
/*!*margin:0px !important;*!*/
/*!*}*!*/
/*!*.main-section-form .gform_wrapper ul.gform_fields li.gfield{*!*/
/*!*  display: inline-block !important;*!*/
/*!*}*!*/
/*!*.main-section-form .gform_wrapper .top_label input.medium, .gform_wrapper .top_label select.medium{*!*/
/*!*  width: 100% ;*!*/
/*!*}*!*/
/*!*@media only screen and (min-width: 641px){*!*/
/*!*.main-section-form .gform_wrapper .top_label input.medium, .gform_wrapper .top_label select.medium{*!*/
/*!*  width:100% !important;*!*/
/*!*}*!*/
/*!*}*!*/
/*!*.main-section-form input{*!*/
/*!*  background: #f9f9fa;*!*/
/*!*padding: 0 0.4667rem;*!*/
/*!*border: none;*!*/
/*!*width: 14.4rem;*!*/
/*!*color: #6d6e70;*!*/
/*!*font-family: Larsseit;*!*/
/*!*font-size: 1.06rem;*!*/
/*!*font-weight: 400;*!*/
/*!*min-height: 3.4rem;*!*/
/*!*text-transform: capitalize;*!*/
/*!*padding:5px 24px !important;*!*/
/*!*}*!*/
/*!*.main-section-form select{*!*/
/*!*  background: #f9f9fa;*!*/
/*!*  padding: 0 0.4667rem;*!*/
/*!*  border: none;*!*/
/*!*  width: 14.4rem;*!*/
/*!*  color: #6d6e70;*!*/
/*!*  font-family: Larsseit;*!*/
/*!*  font-size: 1.06rem;*!*/
/*!*  font-weight: 400;*!*/
/*!*  min-height: 3.4rem;*!*/
/*!*  text-transform: capitalize;*!*/
/*!*}*!*/
/*!*.main-section-form .gform_wrapper .top_label .gfield_error{*!*/
/*!*  width:33% !important;*!*/
/*!*}*!*/

/*!*.main-section-form .gform_wrapper ul.gform_fields li.gfield {*!*/
/*!*    display: inline-block !important;*!*/
/*!*    !* padding-right: 10px; *!*!*/
/*!*}*!*/
.validation_message{
  color: red !important;
  font-family: Larsseit;
  margin-top: 5px;
  position: absolute;
  bottom: 100%;
}
body img.gform_ajax_spinner {
  display: none !important;
}
/*!*.main-section-form #field_1_3{*!*/
/*!*  vertical-align: top !important;*!*/
/*!*}*!*/
/*!*.main-section-form .gform_wrapper ul li.gfield{*!*/
/*!*  margin-top: 16px !important;*!*/
/*!*}*!*/
/*!*.main-section-form .input-wrapper{*!*/
/*!*      margin: 0.8667rem 0.4667rem !important;*!*/
/*!*}*!*/
/*!*.main-section-form .gfield_error{*!*/
/*!*  margin:0 !important;*!*/
/*!*}*!*/
/*!*#gform_confirmation_message_1{*!*/
/*!*  text-align: center;*!*/
/*!*color: #ffffff;*!*/
/*!*font-family: Larsseit;*!*/
/*!*font-size: 1.50rem;*!*/
/*!*font-weight: 400;*!*/
/*!*}*!*/
/*!*.main-section-form #gform_1::after{*!*/
/*!*  content: '';*!*/
/*!*  position: absolute;*!*/
/*!*  left: 232px;*!*/
/*!*  bottom: 0;*!*/
/*!*  width: 61.4%;*!*/
/*!*  background: #0393a3;*!*/
/*!*  height: 0.3333rem;*!*/
/*!*}*!*/
/*!*@media (max-width:1024px) {*!*/
/*!*  .main-section-form #gform_1::after{*!*/
/*!*    content: '';*!*/
/*!*position: absolute;*!*/
/*!*left: 128px;*!*/
/*!*bottom: 0;*!*/
/*!*width: 74.2%;*!*/
/*!*background: #0393a3;*!*/
/*!*height: 0.3333rem;*!*/
/*!*  }*!*/
/*!*}*!*/
.validation_error{
  text-align: center;
font-family: Larsseit;
color: white;
font-size: 18px;
margin-bottom: 12px;
  display: none;
}

/*!*iframe #u_0_5{*!*/
/*!*  font-size: 20px !important;*!*/
/*!*}*!*/
/*!*.footer-form{*!*/
/*!*  z-index: 999 !important;*!*/
/*!*}*!*/
/*.footer-form li{*/
/*display: inline-grid;*/
/*}*/
/*.footer-form label{*/
/*  display: none;*/
/*}*/
/*.footer-form .validation_message{*/
/*  margin-top: -25px !important;*/
/*  margin-bottom: 20px !important;*/
/*  text-align: center;*/
/*}*/
/*.footer-form #field_1_8, #field_1_4, #field_1_9{*/
/*margin-right: 20px !important;*/
/*}*/
/*.footer-form #field_1_3{*/
/*vertical-align: top !important;*/
/*}*/
/*.footer-form li{*/
/*  width:48% !important;*/
/*}*/
/*.footer-form #gform_submit_button_1{*/
/*  color: #ffffff;*/
/*  font-family: Larsseit;*/
/*  font-size: 26px;*/
/*  font-weight: 400;*/
/*  line-height: 74px;*/
/*  text-transform: uppercase;*/
/*  background: #f9c531;*/
/*  border-radius: 60px;*/
/*  height: 90px;*/
/*  line-height: 100%;*/
/*  width:50%;*/
/*}*/
/*.footer-form .gform_footer{*/
/*  text-align: center;*/
/*}*/
/*.home-page-wrapper section.ready-to-book-your-move .building-img{*/
/*  margin-top:0;*/
/*}*/
/*.footer-form #gform_submit_button_1::after{*/
/*  left: 7%;*/
/*  width: 86%;*/
/*  background: #fa9f40;*/
/*}*/
/*.footer-form .gform_footer{*/
/*  margin-bottom: 50px !important;*/
/*}*/
/*.ready-to-book-your-move{*/
/*  padding-top: 50px !important;*/
/*}*/
/*.view-price-btn-wrapper{*/
/*  margin-bottom: 90px !important;*/
/*}*/
/*.page-275 header .nav-bar .nav-bar-right .nav-link{*/
/*color: black;*/
/*}*/
/*.page-275 header .mos-dropdown-parent a{*/
/*  color:black;*/
/*}*/
/*@media screen and (max-width: 991.98px){*/
/*  header .nav-bar-right-mobile .nav-link, header .nav-bar-right-mobile .mos-dropdown-parent a{*/
/*    font-family: Larsseit;*/
/*    font-size: 1.8rem;*/
/*    font-weight: 400;*/
/*    transition: all .3s ease-in-out;*/
/*    margin-bottom: 30px;*/
/*    color: black !important;*/
/*}*/
/*.mos-dropdown-parent .mos-drop-down .mos-drop-down-content a{*/
/*  color:white !important;*/
/*}*/
/*}*/
/*@media screen and (max-width: 991.98px){*/
/*.service-page-wrapper section.ready-to-book-your-move .footer-form .main-btn:after { */

/*  background:none !important;*/
/*}*/
/*.service-page-wrapper section.ready-to-book-your-move .footer-form .main-btn{*/
/*  border-bottom: 10px solid #fa9f40 !important;*/
/*}*/
/*.service-page-wrapper .how-much-section .service-section-form .view-price-btn:after{*/
/*  background:none !important;*/
/*}*/
/*.service-page-wrapper .how-much-section .service-section-form .view-price-btn{*/
/*  border-bottom: 10px solid #fa9f40 !important;*/

/*}*/
/*}*/
