footer {
    .upper-part {
        position: relative;
        @include paddingY(105px, 215px);
        
        img.footer-bg {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: bottom;
            top: 0;
            left: 0;
            //z-index: -1;
        }
        
        img.car {
            position: absolute;
            width: 368px;
            height: auto;
            object-fit: cover;
            object-position: bottom;
            bottom: -20px;
            left: 50%;
            transform: translate(-50%, 66.66667%);
            @include max-x-small-screen {
                width: 250px;
            }
        }
        
        .title {
            color: #ffffff;
            font-family: "Qanelas Bold";
            font-size: 55px;
            font-weight: 400;
            line-height: 73px;
            letter-spacing: -0.55px;
            position: relative;
            text-align: center;
            @include max-x-small-screen {
                font-size: 40px;
                line-height: 45px;
            }
        }
        
        button {
            max-width: 300px;
            color: #ffffff;
            font-family: Larsseit;
            font-size: 22px;
            font-weight: 400;
            border-bottom: 10px solid #fa9f40;
            border-radius: 4.5rem;
            display: block;
            margin: 50px auto 0;
            @include paddingY(25px);
            
            
            @include max-medium-screen {
                margin-top: 30px;
            }
            
            &:after {
                content: none;
            }
        }
    }
    
    .lower-part {
        @include paddingY(185px, 60px);
        background-color: #0b2a4a;
    
        .col-12.col-sm-4.col-xl-auto{
            @include max-medium-screen{
                display: none;
            }
        }
        
        .call-us {
            color: #ffffff;
            font-family: Larsseit;
            font-size: 25px;
            font-weight: 400;
            line-height: 35px;
            text-align: center;
            
            span {
                color: #f9c531;
                font-family: "Larsseit - Bold";
                font-size: 30px;
                font-weight: 700;
            }
        }
        
        hr {
            @include marginY(35px, 55px);
            height: 2px;
            width: 100%;
            background-color: #3c566e;
            border: none;
            box-shadow: none;
        }
        
        .logo {
            height: auto;
            width: auto;
            @include max-large-screen{
                margin: 0 auto;
            }
            @include max-medium-screen{
                width: auto;
            }
            @include max-x-small-screen{
                width: auto;
            }
        }
        
        .book-now {
            color: #ffffff;
            font-family: Larsseit;
            font-size: 19px;
            font-weight: 400;
            background-color: #04c4d9;
            border: none;
            text-shadow: none;
            padding: 18px 48px;
            @include marginY(38px, 25px);
            @include max-medium-screen{
                width: 100%;
                border-radius: 60px;
                max-width: 451px;;
            }
        }
        
        .have-account {
            color: #ffffff;
            font-family: Larsseit;
            font-size: 18px;
            font-weight: 400;
            line-height: 27px;
            
            span {
                color: #04c4d9;
            }
            
            margin-bottom: 30px;
            
            @include max-medium-screen{
                br{
                    display: none;
                }
            }
        }
        
        .footer-links {
            @include x-large-screen {
                padding-left: 115px;
            }
            @include max-large-screen {
                text-align: center;
                
            }
            @include max-small-screen {
                margin-bottom: 30px;
            }
            
            a {
                color: #ffffff;
                font-family: Larsseit;
                font-size: 20px;
                font-weight: 400;
                line-height: 40px;
                display: block;
                
                &:first-of-type {
                    color: #04c4d9;
                    font-family: Larsseit;
                    font-size: 22px;
                    font-weight: 700;
                    line-height: 29px;
                    margin-bottom: 19px;
                }
            }
        }
        
        .social-links {
            text-align: center;
            font-size: 35px;
            color: #fff;
            margin-top: 115px;
            @include max-small-screen {
                margin-top: 60px;
            }
            
            .social-link {
                transition: all 400ms;
                cursor: pointer;
                
                &:not(:last-child) {
                    margin-right: 25px;
                }
                
                &:hover {
                    color: #04c4d9;
                }
            }
        }
        
        .copy-rights {
            color: #fff3e6;
            font-family: Larsseit;
            font-size: 17px;
            font-weight: 300;
            line-height: 26px;
            text-align: center;
            margin-top: 30px;
            /* Text style for "Terms Of S" */
            @include max-medium-screen{
                display: flex;
                flex-direction: column;
            }
            a {
                color: #04c4d9;
            }
            
            > span {
                color: #58595b;
                @include paddingX(13px);
            }
          
        }
        
    }
}
.select2-container--default .select2-search--dropdown .select2-search__field {
    border: 1px solid #aaa!important;
    border-right: none!important;
    border-left: none!important;
}
.select2-search {
    margin: 0!important;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #04c4d9!important;
    color: white!important;
}
.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: #f0f0f0!important;
    color:#58595b !important;
}
.select2-container--default .select2-search--dropdown .select2-search__field{
    border: 1px solid #aaa!important;
    border-right: none!important;
    border-left: none!important;
    border-radius: 8px!important;
}
.select2-container--open .select2-dropdown--below {
    border-radius: 10px !important;
}