header {
    padding-top: 2.6rem;
    padding-bottom: 2.6rem;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9;
    
    &.header-service {
        .nav-bar {
            .mos-dropdown-parent > a {
                color: #404041;
                
                &:hover {
                    color: $primary-color;
                }
            }
            
            .nav-bar-right {
                
                .nav-link {
                    color: #404041;
                    
                    &:hover {
                        color: $primary-color;
                    }
                }
                
                .call-nav-link {
                    color: $primary-color;
                    
                    &:hover {
                        color: #404041;
                    }
                }
                
            }
        }
    }
    
    
    .mos-dropdown-parent a {
        @include max-medium-screen {
            &:hover {
                color: #fff !important;
            }
        }
    }
    
    &.header-apply {
        .nav-bar {
            .nav-bar-right {
                .call-nav-link {
                    i {
                        color: $primary-color;
                        
                        &:hover {
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
    
    .nav-bar {
        display: flex;
        justify-content: space-between;
        max-width: 100rem;
        align-items: center;
        
        .nav-bar-right {
            display: flex;
            align-items: center;
            
            .nav-link {
                margin-right: 1.875vw;
                color: #ffffff;
                font-family: Larsseit;
                font-size: 1.2rem;
                font-weight: 400;
                transition: all .3s ease-in-out;
                
                &:hover {
                    color: $primary-color;
                }
            }
            
            .call-nav-link {
                i {
                    margin-right: 0.4667rem;
                }
            }
            
            .header-btn {
                color: #ffffff;
                font-family: Larsseit;
                font-size: 1.13rem;
                font-weight: 700;
                padding: 1.1333rem 1.6rem;
                background: $primary-color;
                border-radius: 0.3333rem;
                transition: all .3s ease-in-out;
                
                &:hover {
                    box-shadow: 0 0 10px 2px $primary-color;
                    transform: translate3d(0, 0, 0);
                    backface-visibility: hidden;
                    perspective: 66.6667rem;
                    transform-origin: center top;
                }
            }
        }
        
        .nav-bar-left {
            display: flex;
            align-items: center;
            
            .nav-bar-brand {
                margin-right: 1.875vw;
            }
        }
    }
    
    .big-container {
        @include max-x-large-screen {
            max-width: 90%;
        }
    }
    
    @media (max-width: 1250px) and (min-width: 991px) {
        zoom: 0.84;
    }
    
    @include max-medium-screen {
        .navbar-collapse-wrapper {
            cursor: pointer;
            z-index: 999;
            height: 44.7px;
            position: absolute;
            right: 50px;
            top: 50%;
            transform: translateY(-50%);
            
            &.open {
                .navbar-collapse-toggler {
                    span:nth-child(1) {
                        top: 8px;
                        width: 0%;
                        left: 50%;
                    }
                    
                    span:nth-child(2) {
                        -webkit-transform: rotate(45deg);
                        -moz-transform: rotate(45deg);
                        -o-transform: rotate(45deg);
                        transform: rotate(45deg);
                    }
                    
                    span:nth-child(3) {
                        -webkit-transform: rotate(-45deg);
                        -moz-transform: rotate(-45deg);
                        -o-transform: rotate(-45deg);
                        transform: rotate(-45deg);
                    }
                    
                    span:nth-child(4) {
                        top: 8px;
                        width: 0%;
                        left: 50%;
                    }
                    
                    span {
                        background: $primary-color;
                    }
                }
            }
            
            .navbar-collapse-toggler {
                display: inline-block;
                flex-direction: column;
                justify-content: center;
                width: 23px;
                position: relative;
                -webkit-transform: rotate(0deg);
                -moz-transform: rotate(0deg);
                -o-transform: rotate(0deg);
                transform: rotate(0deg);
                -webkit-transition: .5s ease-in-out;
                -moz-transition: .5s ease-in-out;
                -o-transition: .5s ease-in-out;
                transition: .5s ease-in-out;
                cursor: pointer;
                
                /* Icon 3 */
                
                span:nth-child(1) {
                    top: 0px;
                    width: 32px;
                }
                
                span:nth-child(2), span:nth-child(3) {
                    top: 12px;
                }
                
                span:nth-child(4) {
                    top: 24px;
                    width: 22px;
                }
                
                
                span {
                    display: block;
                    position: absolute;
                    opacity: 1;
                    left: 0;
                    -webkit-transform: rotate(0deg);
                    -moz-transform: rotate(0deg);
                    -o-transform: rotate(0deg);
                    transform: rotate(0deg);
                    -webkit-transition: .25s ease-in-out;
                    -moz-transition: .25s ease-in-out;
                    -o-transition: .25s ease-in-out;
                    transition: .25s ease-in-out;
                    
                    width: 42px;
                    height: 4px;
                    background: $primary-color;
                    margin-bottom: 8px;
                    
                    &:last-of-type {
                        margin-bottom: 0;
                    }
                }
            }
        }
        
        .nav-bar-right-mobile {
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100vh;
            background: $primary-color;
            flex-direction: column;
            align-items: flex-start;
            padding: 60px 50px 66px;
            transform: translateX(120%);
            transition: all .4s ease-out;
            z-index: 9999;
            color: #fff;
            font-family: Larsseit;
            font-size: 1.8rem;
            font-weight: 400;
            
            &.active {
                transform: translateX(0);
            }
            
            .mobile-menu-logo-container {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                margin-bottom: 80/15*1rem;
                
                .mobile-menu-logo {
                    width: 260/15*1rem;
                    cursor: pointer;
                }
                
                .mobile-menu-close {
                    @include square(42/15*1rem);
                    cursor: pointer;
                }
                
            }
            
            .nav-link, .mos-dropdown-parent a {
                font-family: Larsseit;
                font-size: 1.8rem;
                font-weight: 400;
                transition: all .3s ease-in-out;
                margin-bottom: 30px;
            }
            
            .mos-dropdown-parent .mos-drop-down {
                position: relative;
                top: 0;
            }
            
            .nav-link.call-nav-link {
                text-align: center;
                margin: auto auto 0;
                font-size: 2rem;
                font-weight: 700;
                line-height: 2.6rem;
                font-family: "Larsseit - Bold";
                
                span {
                    font-family: Larsseit;
                    font-size: 1.8rem;
                    font-weight: 400;
                }
            }
        }
        
        .header-btn {
            color: #ffffff;
            font-family: Larsseit;
            font-size: 1.13rem;
            font-weight: 700;
            padding: 1.1333rem 1.6rem;
            background: $primary-color;
            border-radius: 0.3333rem;
            transition: all .3s ease-in-out;
            position: absolute;
            right: 130px;
            min-width: 188px;
            text-align: center;
            
            &:hover {
                box-shadow: 0 0 10px 5px $primary-color;
                transform: translate3d(0, 0, 0);
                backface-visibility: hidden;
                perspective: 66.6667rem;
                transform-origin: center top;
            }
        }
    }
    
    @media (max-width: 650px) {
        .header-btn {
            min-width: 90px;
            right: 100px;
            padding: 0.8333rem 1.3rem;
        }
        .nav-bar .nav-bar-left .nav-bar-brand {
            width: 90%;
        }
        .navbar-collapse-wrapper{
            top: 45%;
        }
    }
    @media (max-width: 480px) {
        .header-btn {
            display: none;
        }
    }
}

.mos-dropdown-parent {
    position: relative;
    
    //&:hover {
    //    .mos-drop-down {
    //        display: block;
    //    }
    //}
    //
    a {
        color: #ffffff;
        font-family: Larsseit;
        font-size: 1.2rem;
        font-weight: 400;
        transition: all .3s ease-in-out;
        
        &:hover {
            color: $primary-color;
        }
        
        i {
            margin-left: 0.1333rem;
        }
    }
    
    .mos-drop-down {
        display: none;
        position: absolute;
        top: 100%;
        padding-top: 0.6667rem;
        min-width: 100%;
        
        .mos-drop-down-content {
            display: flex;
            flex-direction: column;
            background: $primary-color;
            padding: 1.33rem;
            text-align: center;
            border-radius: 5px;
            //box-shadow: -2px 3px 20px -5px rgba(0, 0, 0, .4);
            
            
            a {
                color: #ffffff;
                font-family: Larsseit;
                font-size: 1.2rem;
                font-weight: 400;
                transition: all .3s ease-in-out;
                margin-bottom: 0.6667rem;
                text-decoration: none;
                
                &:hover {
                    opacity: .7;
                }
            }
        }
    }
}

@keyframes shake {
    10%, 90% {
        -webkit-transform: rotate(2deg) translate3d(-1px, 0, 0);
        transform: rotate(2deg) translate3d(-1px, 0, 0);
    }
    20%, 80% {
        -webkit-transform: rotate(-3deg) translate3d(2px, 0, 0);
        transform: rotate(-3deg) translate3d(2px, 0, 0);
    }
    30%, 50%, 70% {
        -webkit-transform: rotate(5deg) translate3d(-3px, 0, 0);
        transform: rotate(5deg) translate3d(-3px, 0, 0);
    }
    40%, 60% {
        -webkit-transform: rotate(-5deg) translate3d(3px, 0, 0);
        transform: rotate(-5deg) translate3d(3px, 0, 0);
    }
}
